
.left-container{
    position: relative;
    top: 30px;
    border: 1px solid black;
    float: left;
}
.mid-container{
    position: relative;
    top: 30px;
    left: 160px;
    width: 1000px;
    height: 900px;
    padding: 20px;
    border: 1px solid black;
}
nav{
    display: inline-block;
}
nav ul {
    background-color: darkorange;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: block;
}
.dropdown-menu{
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}
.dropdown-content{
    background-color: #f9f9f9;
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}
.resume_info{
    position: relative;
    border: 1px solid rgb(248, 245, 245);
    background-color: #fbfbfb;
    margin-top: 20px;
}
.resume_info > ul{
    float: left;
    list-style-type: none;
}
.setting{
    clear: left;
    margin-left: 130px;
}
.setting > button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: gray;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}
.edit{
    float: right;
    margin-right: 100px;
}
.edit > button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border:none;
    background-color: gray;
    color: white;
    font-weight: bold;
}
