.left-container{
    position: relative;
    top: 30px;
    border: 1px solid black;
    float: left;
}
.mid-container{
    position: relative;
    top: 30px;
    left: 160px;
    width: 1000px;
    height: 900px;
    padding: 0px;
    border: 1px solid black;
}
nav{
    display: inline-block;
}
nav ul {
    background-color: darkorange;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: block;
}
.dropdown-menu{
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}
.dropdown-content{
    background-color: #f9f9f9;
}
.dropdown-content a{
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}
.basic_info{
    position: relative;
    border: 1px solid rgb(248, 245, 245);
    height: 200px;
    margin: 30px;
    background-color: #fbfbfb
}
.img{
    float: left;
    margin: 20px;
    border: 1px solid black;
}
.user_info{
    position: relative;
    width: 80%;
    height: 80%;
    margin: 20px;
    
    border: 1px solid red;
}
.basic_left{
    float: left;
}
.basic_right ul{
    list-style-type: none;
}

.basic_info_certificate{
    border: 1px solid red;
}
.self_introduce{
    margin-top: 10px;
    border: 1px solid red;
}